 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
 @media (min-width:390px) {
   body{
    font-family: 'Poppins', sans-serif;
    
   }


   h1 {
     color: white;
   }

   .NavBar {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr;
     align-items: center;
    
   }

   .nav-first-row {
     display: grid;
     grid-template-columns: 4fr 1fr;
     grid-template-rows: 1fr;
   }

   .nav-columns{
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 30px;
    align-items: center;
    font-weight: bold;
   }

   .centrado{
    display: grid;
    justify-items: center;
    align-items: center;
   }

   .nav-logo{
    height: 5vh;
    width: 11vw;
   }

   .nav-filter{
    height: 20px;
    width: 6vw;
   }

   .nav-columns2{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
   }

   .hashtag{
    font-size: 20px;
   }
   .nav-second-row {
     display: grid;
     justify-content: center;
   }

   .finder{
    background-image: url("../public/Imagenes/lupa.png");;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 30vw;
   }

    input {
      resize: horizontal;
      width: 95vw;
      height: 4vh;
      border: 2px solid rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      text-align:center;
      font-size: 20px;
    }

    .pokeList{  /*Grilla con pokemones*/
      display: grid;
      height: 50vh;
      width: 95vw;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      margin-left: 2.5vw;
      justify-items: center;
      align-items: center;
    }

    .pokeList a {
      text-decoration: none;
    }

    .Pokemon-Container{  /*contenedor del pokemon*/
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 3fr 1fr;
      height: 100%;
      width: 100%;
      border: 2px solid;
      border-radius: 15px;
      align-items: center;
      justify-items: center;
      
    }

    .Pokemon-Container {
      text-decoration: none;
    }
     
    .Pokemon-Container>div>img{  /*Tamaño de la imagen*/
      height: 60px;
      width: 90px;
      padding: 0px;
      margin: 0px;
    }

    .pokemon-name{
      display: grid;
      justify-items: center;
      align-items: center;
      height: 100%;
      width: 100%;
      font-size: 14px;
      color: white; /*Todos los textos son blancos*/
      text-decoration: none;
    }

    .pokemon-image{
      height: 100%;
      width: 100%;
    }

    .pokemon-number{
      margin-left: 60%;
      font-size: 10px;
      text-decoration: none;
    }

    

    .grass{
      border-color: #74cb48;
      color: #74cb48;
    }

    .grassbg {
      background-color: #74cb48;
      border: 5px solid #74cb48;
    }

    .grass>div>span {
      background-color: #74cb48;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
    }

    .water{
      border-color: #6493eb;
      color: #6493eb;
    }

    .waterbg {
      background-color: #6493eb;
      border: 5px solid #6493eb;
    }

    .water>div>span{
      background-color: #6493eb;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
    }

    .electric{
    border-color: #f9cf30;
    color: #f9cf30;
    }

   .electricbg {
    background-color: #f9cf30;
    border: 5px solid #f9cf30;
   }

    .electric>div>span{
    background-color: #f9cf30;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    display: grid;
    align-items: center;
    }

    .psychic{
    border-color: #fb5584;
    color: #fb5584;
    }

    .psychicbg {
      background-color: #fb5584;
      border: 5px solid #fb5584;
    }

    .psychic>div>span{
    background-color: #fb5584;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    display: grid;
    align-items: center;
    }

    .ghost{
    border-color: #705584;
    color: #705584;
    }

    .ghostbg {
      background-color: #705584;
      border: 5px solid #705584;
    }

    .ghost>div>span{
    background-color: #705584;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    display: grid;
    align-items: center;
    }

    .normal{
      border-color: #aaa67f;
      color: #aaa67f;
    }

      .normalbg {
        background-color: #aaa67f;
        border: 5px solid #aaa67f;
      }

     .normal>div>span{
      background-color: #aaa67f;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
     }

     .fire{
      border-color: #f57d31;
      color: #f57d31;
     }

    .firebg {
      background-color: #f57d31;
      border: 5px solid #f57d31;
    }

     .fire>div>span{
      background-color: #f57d31;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
     }

     .bug{
      border-color: #a7b723;
      color: #a7b723;
     }

    .bugbg {
      background-color: #a7b723;
      border: 5px solid #a7b723;
    }

     .bug>div>span{
      background-color: #a7b723;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
     }

     .steel{
      border-color: #b7b9d0;
      color: #b7b9d0;
     }

     .steelbg{
      background-color: #b7b9d0;
      border: 5px solid #b7b9d0;
     }

     .steel>div>span{
      display: grid;
      background-color: #b7b9d0;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      align-items: center;
     }


     .Modal-grid{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr;
      height: 100%;
      width: AUTO;
      border-radius: 15px;
      
     }

     .Modal-grid a{
      text-decoration:none !important;

     }
     .modal-name{
      background-image: url(/public/Imagenes/Pokeball.png);
      background-repeat: no-repeat;
      background-position:95% 10%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr;
      align-items: center;
      justify-items: center;
      color: white;
      font-size: 25px;
      font-weight: bold;
      height: 100%;
      width: 100%;
     }

     .modal-name>div>img{
      filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(125deg) brightness(100%) contrast(100%);;
     }


    .white{
      filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%);
    }

    .arrow-right{ /*  ROTACION DE FLECHA  */
      transform: rotate(180deg);
    }

    .modal-1row{ /*PRIMERA FILA DE LA PRIMERA MITAD*/
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      align-items: center;
      justify-items: center;
    }

    .modal-2row{   /*SEGUNDA FILA DE LA PRIMERA MITAD*/
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
    }

    .modal-poke-img{
      height: 200px;
      width: 200px;
    }

    .div-poke-img{
      display: grid ;
      justify-items: center;
      position: relative;
      top: 20%;
      
    }

    .modal-bottom{  /*  CONETENEDOR DE TODA LA SEGUNDA MITAD DE LA CARTA*/
      background-color: white;
      color: black;
      border-radius: 20px;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr 2fr 2fr 1fr 6fr ;
      justify-items: center;
      align-items: center;
    }

    .arrow{
      position: relative;
      bottom:-35% ;
    }

    .modal-type {
      position: relative;
      height: 25%;
      width: 20%;
      color: white;
      border-radius: 15px;
      display: grid;
      bottom: -30%;
      justify-items: center;
      font-weight: bold;      
    }
    
    .color{
      background-color: #f57d31;
    }

    .about{
      font-weight: bolder;
    }

    .modal-info{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      height: 100%;
      width: 90%;
      align-items: center;
      justify-items: center;
    }

    .modal-description{
      height: 100%;
      width: 90%;
    }

    .twocols{
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-columns: 1fr 2fr;
      height: 100%;
      width: 100%;
    }
    
    .tworows{
      display: grid;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-items: center;
      height: 100%;
      width: 100%;
      text-align: center;
    }

    .bolder{
      font-weight: bolder;
    }

    .line{
      border-right: 2px solid #e0e0e0
    }

    .modal-stats{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
 

  .modal-stats > div > ul {
    list-style: none;
  }





} 


 