 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
 @media (min-width:390px) {
   body{
    font-family: 'Poppins', sans-serif;
    
   }


   h1 {
     color: white;
   }

   nav {
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin-top: 20px;
     align-items: center;
     justify-content: center;
   }

   .NavBar {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr;
   }

   .nav-first-row {
     display: grid;
     grid-template-columns: 4fr 1fr;
     grid-template-rows: 1fr;
   }

   .nav-columns{
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 30px;
    align-items: center;
    font-weight: bold;
   }

   .centrado{
    display: grid;
    justify-items: center;
    align-items: center;
   }

   .nav-logo{
    height: 5vh;
    width: 11vw;
  
   }

   .nav-filter{
    height: 3vh;
    width: 6vw;
    margin-top: 2vh;
    margin-right: 4vw
   }

   .nav-columns2{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
   }

   .hashtag{
    font-size: 20px;
   }
   .nav-second-row {
     display: grid;
     justify-content: center;
     margin-top: 10px;
   }

   .finder{
    background-image: url("../public/Imagenes/lupa.png");;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 30vw;
   }

    input {
      resize: horizontal;
      width: 95vw;
      height: 4vh;
      border: 2px solid rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      text-align:center;
      font-size: 20px;
    }

     .pokeList{  /*Grilla con pokemones*/
      display: grid;
      height: 50vh;
      width: 95vw;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      margin-left: 2.5vw;
      justify-items: center;
      align-items: center;
     }

     .Pokemon-Container{  /*contenedor del pokemon*/
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 3fr 1fr;
      height: 100%;
      width: 100%;
      border: 2px solid;
      border-radius: 15px;
      align-items: center;
      justify-items: center;
      
     }
     
      .Pokemon-Container>div>img{  /*Tamaño de la imagen*/
      height: 63px;
      width: 100px;
      padding: 0px;
      margin: 0px;
      
     }

     .pokemon-name{
      display: grid;
      justify-items: center;
      align-items: center;
      height: 100%;
      width: 100%;
      font-size: 14px;
      color: white; /*Todos los textos son blancos*/
     }

     .pokemon-image{
      height: 100%;
      width: 100%;
     }

     .pokemon-number{
      margin-left: 65%;
      font-size: 10px;
     }
     .pokemon-name>span{
      font-size: 13px;
     }

     .grass{
      border-color: #74cb48;
      color: #74cb48;
     }

     .grass>div>span{
      background-color: #74cb48;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
      
     }

     .water{
      border-color: #6493eb;
      color: #6493eb;
     }

     .water>div>span{
      background-color: #6493eb;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
     }

     .electric{
      border-color: #f9cf30;
      color: #f9cf30;
     }

     .electric>div>span{
      background-color: #f9cf30;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
     }

     .psychic{
      border-color: #fb5584;
      color: #fb5584;
     }

     .psychic>div>span{
      background-color: #fb5584;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
     }

     .ghost{
      border-color: #705584;
      color: #705584;
     }

     .ghost>div>span{
      background-color: #705584;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
     }

     
     .normal{
      border-color: #aaa67f;
      color: #aaa67f;
     }

     .normal>div>span{
      background-color: #aaa67f;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
     }

     .fire{
      border-color: #f57d31;
      color: #f57d31;
     }

     .fire>div>span{
      background-color: #f57d31;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
     }

     
     .bug{
      border-color: #a7b723;
      color: #a7b723;
     }

     .bug>div>span{
      background-color: #a7b723;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
     }

     .steel{
      border-color: #b7b9d0;
      color: #b7b9d0;
     }

     .steel>div>span{
      background-color: #b7b9d0;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
     }

     .Modal-grid{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr;
      height: 100vh;
      width: 100vw;
      border: 3px solid ;
      border-color:#f57d31 ;
      border-radius: 15px;

     }

     .modal-name{
      background-image: url(/public/Imagenes/Pokeball.png);
      background-repeat: no-repeat;
      background-position:95% 10%;
      background-color: #f57d31;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr;
      align-items: center;
      justify-items: center;
      color: white;
      font-size: 25px;
      font-weight: bold;
     }

     .modal-name>div>span{
      font-size: 15px;
     }

     .modal-name>div>img{
      filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(125deg) brightness(100%) contrast(100%);;
     }

     .modal-img{
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
      align-items: center;
      justify-items: center;
    }

    .white{
      filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(125deg) brightness(100%) contrast(100%);;
    }

    .arrow-right{
      transform: rotate(180deg);
    }
    .modal-1row{
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
    }

    .modal-2row{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .modal-bottom{
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 1fr 2fr 2fr 1fr 6fr ;
      border-radius: 15px;
      justify-items: center;
      align-items: center;
  

    }

    .modal-type {
      height: 30%;
      width: 14%;
      background-color: #f57d31;
      color: white;
      border-radius: 15px;
      display: grid;
      align-items: center;
      justify-items: center;
      font-weight: bold;

      
    }

 }

 