 @media (min-width:390px) {
   * {
     font-size: 1.2rem;
   }


   h1 {
     color: white;
   }

   nav {
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin-top: 20px;
     align-items: center;
     justify-content: center;
   }

   .NavBar {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr;
   }

   .nav-first-row {
     display: grid;
     grid-template-columns: 4fr 1fr;
     grid-template-rows: 1fr;
   }

   .nav-logo{
    height: 5vh;
    width: 11vw;
    margin-top: 2vh;
    margin-left: 4vw
   }

   .nav-filter{
    height: 4vh;
    width: 7vw;
    margin-top: 2vh;
    margin-right: 4vw
   }

   .hashtag{
    font-size: 3vh;
   }
   .nav-second-row {
     display: grid;
     justify-content: center;
   }


 }